@import '../../../scss/spacing';
@import '../../../scss/breakpoints';

.input {
  background-color: #f4f3f4;
  border: none;
  padding: spacing() spacing(2);
  width: 100%;
  margin-bottom: spacing(2);

  &--error {
    margin-bottom: 0;
  }

  &__error {
    font-size: spacing() + spacing(0.5);
    display: block;
    margin-bottom: spacing();
  }
}

textarea.input {
  max-width: 100%;
  width: 100%;
  height: spacing(30);
}
