@import '../../scss/spacing';
@import '../../scss/colours';
@import '../../scss/breakpoints';

.site {
  $root: &;

  h2 {
    font-weight: 500;
  }

  &:nth-child(2n + 1) {
    color: $white;
    background-color: $dark;

    #{$root}__visit {
      color: $font;
      background-color: $white;
    }
  }

  &:nth-child(2n) {
    #{$root}__image {
      order: 1;
    }
  }

  &__container {
    @include breakpoint($desktop) {
      display: flex;
      padding: spacing() 0;
    }
  }

  &__image,
  &__info {
    @include breakpoint($desktop) {
      width: 50%;
    }
  }

  &__image {
    margin-bottom: spacing(3);

    @include breakpoint($desktop) {
      margin-bottom: 0;
    }
  }

  &__info {
    padding-left: spacing(4);
  }

  &__technology {
    h5 {
      margin-bottom: spacing();
      font-weight: 500;
    }

    p {
      margin-bottom: 0;
    }
  }

  &__visit {
    display: block;
    background-color: $dark;
    color: $white;
    text-decoration: none;
    padding: spacing();
    margin-top: spacing(2);
    text-align: center;

    @include breakpoint($desktop) {
      max-width: 50%;
    }
  }
}
