@import '../../scss/spacing';
@import '../../scss/colours';
@import '../../scss/breakpoints';

.header {
  text-align: center;
  background-color: $white;
  z-index: 9;

  h1 {
    margin: 0;
    font-family: 'Dancing Script', Georgia, Times, serif;
    font-size: spacing(8);
    line-height: spacing(8) + spacing(0.25);
    color: $font;

    @include breakpoint($desktop) {
      font-size: spacing(16) + spacing(0.25);
      line-height: spacing(17) + spacing(0.5);
    }
  }
}

nav {
  padding: spacing(2) 0 0;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }

  li {
    margin: 0;
    padding-right: spacing(4);
    color: $font;
    font-weight: 500;

    a {
      color: $font;
      text-decoration: none;
      padding-bottom: 2px;

      &:hover {
        cursor: pointer;
        border-bottom: 2px solid $font;
      }
    }

    &:last-child {
      padding: 0;
    }
  }
}
